*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
:root{
    --color:#FFFFFF;
}
body{
    background: rgb(2,0,36);
}
.heading{
    margin-block: 2rem;
    text-align: center;
    color: var(--color);
}
.box{
    margin-top: 7rem;
    margin-inline: 25rem;
    display: flex;
    justify-content: space-around;
}
h4{
    font-size: 30px;
    text-align: center;
    color: var(--color);
    margin-bottom: 1.5rem;
}
.button{
    margin-top: 10rem;
    text-align: center;
    
}
.button1{
    width: 8rem;
    height: 3rem;
    border-radius: 1rem;
}
.button1:hover{
    background-color: red;
    color:var(--color);
    border: 1px solid black;
}
#img1{
    height: 15rem;
    width: 15rem;
}
#img2{
    height: 15rem;
    width: 15rem;
}


/* Small screens and laptops */
@media screen and (max-width: 1024px) {
    .box{
        margin-inline: 5rem;
    }
    #img1{
        height: 15rem;
        width: 15rem;
    }
    #img2{
        height: 15rem;
        width: 15rem;
    }
    .button{
        margin-top: 8rem; 
    }
}

/* iPads, Tablets */
@media screen and (max-width: 767px) {
    .box{
        margin-inline: 0rem;
    }
    #img1{
        height: 8rem;
        width: 8rem;
    }
    #img2{
        height: 8rem;
        width: 8rem;
    }
    .button{
        margin-top: 4rem; 
    }
    .box{
        margin-top: 4rem;
    }
    h4{
        font-size: 15px;
    }
    .button1{
        width: 6rem;
        height: 2.5rem;
    }
}
